/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14 jul 2026, 07:36:18
    Author     : informatica
*/

TextField.error{
    -fx-border-color: red;
    -fx-border-width: 2px;

}

PasswordField.error{

    -fx-border-color: red;
    -fx-border-width: 2px;
}

TextField.empty{
    -fx-border-color: orange;
    -fx-border-width: 2px;
}

PasswordField.empty{

    -fx-border-color: red;
    -fx-border-width: 2px;
}

#login {
    -fx-background-color: linear-gradient(
        from 0% 100% to 100% 0%,
        #0f678a 16%,
        #62a87a 64%,
        #26251d 100%
        );
}

#panelBienvenida{

    -fx-background-color: linear-gradient(to bottom,#1E3A5F,#27496D,#3B5998);
    -fx-background-radius: 25;
    -fx-border-color: #D4AF37;
    -fx-border-width: 4;
    -fx-border-radius: 25;
    -fx-padding:20;
}


#lblBienvenida{

    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
    -fx-effect: dropshadow(gaussian,
        rgba(0,0,0,0.45),
        6,
        0.3,
        2,
        2);
}


#btnCerrar{

    -fx-background-color: #D4AF37;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-cursor: hand;
    -fx-padding: 8 22 8 22;
}

#btnCerrar:hover{

    -fx-background-color: #E8C75A;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

#btnCerrar:pressed{

    -fx-background-color: #B68B16;
    -fx-scale-x: .98;
    -fx-scale-y: .98;
}

/* Panel para el inicio de sesion  */

#panelBienvenida{
    
    -fx-background-color: linear-gradient(to bottom,#0F2027,#203A43,#2C5364);
    -fx-background-radius:25;
    -fx-border-radius:25;
    -fx-border-width:3;
    -fx-border-color:#6EC6FF;
}

#lblBienvenida{

    -fx-text-fill:white;
    -fx-font-size:28px;
    -fx-font-weight:bold;
    -fx-font-family:"Segoe UI";
}

#lblNombre{

    -fx-text-fill:#CFEFFF;
    -fx-font-size:18px;
    -fx-font-weight:bold;
    -fx-font-family:"Segoe UI";
}

#btnCerrar{

    -fx-background-color:#00A8E8;
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-font-weight:bold;
    -fx-background-radius:25;
    -fx-cursor:hand;
    -fx-padding:10 30 10 30;
}

#btnCerrar:hover{

    -fx-background-color:#33C1FF;
}

#btnCerrar:pressed{

    -fx-background-color:#0077B6;
}